body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eff3f5;
  color: #333;
}

header {
  background-color: #0aac0f;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #e0f2f1;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #0b0a13;
  text-decoration: none;
  font-weight: bold;
}


main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background-color: #e8f0e8;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #4CAF50;
  margin-bottom: 10px;
}

form label,
form textarea,
form input[type="number"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1976D2;
}

#result {
  margin-top: 20px;
  padding: 15px;
  background-color: #e8f5e9;
  border-left: 5px solid #4CAF50;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ccc;
  color: #333;
  margin-top: 30px;
}

#grafico-container {
  max-width: 100%;
  margin-top: 20px;
}
